.principal{
    border-radius: 5px;
    box-shadow: 0px 0px 10px #042253;
    margin: 47px auto;
    padding: 10px;
    width: 618px;
    background-color: #def1ff;
    text-decoration: #042253;
	min-height: min-content;
	z-index: -1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.chat-form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
		  
  }
  #submit-button{
	float: right;
	background-color:rgb(1, 55, 117);
	color:aliceblue;
	border-radius: 2px;
	margin-left:10px;
	padding: 13px;
  }
.chat-input{
	float: inline-end;
	padding-right: 20px;
	border-radius: 5px;
	border-color: rgb(255, 255, 255);
	border-radius: 5px;
    
}
.chat-input:focus{
	box-shadow: 0px 0px 5px #11d295;
    transition: 0.5s;
	border-color: aliceblue;
}
.clearfix{
	display: block;
	background-color: #ffffff;
	font-size: small;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #141414;
	margin:15px 70px 10px;
	padding: 5px 15px 5px;
}
.message-data-time{
	color: #1e5dda;
}